/* Hiding sections minus title */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: grey;
}

section{
    background-color: white;
    border: solid 2px black;
    padding: 10px;
}
.hide {
    display: none;
}

.show {
    display: block;
}
h1{
    text-align: center;
}

p{
    padding: 0 10%;
}

#startButton{
    display: block;
    margin: 0 auto;
}

.choice{
    display: block;
    margin-top: 10px;
}